*,
*::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mainClr: #563d7c;
  --tile1Clr: #c0eda6;
  --tile2Clr: #fd5d5d;
  --tile3Clr: #fff7bc;
  --tile4Clr: #00af91;
  --startBtnClr: #5800ff;
  --whiteClr: #fff;
  --containerClr: hsl(240 100% 10% / 0.6);
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

main {
  background-color: var(--mainClr);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  color: var(--whiteClr);
  font-size: min(5vw, 5vh);
}

.container {
  background-color: var(--containerClr);
  width: min(80vh, 80vw);
  height: min(80vh, 80vw);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 50%;
  gap: 10px;
  padding: 30px;
  position: relative;
  border: 1px solid black;

  grid-template-areas:
    'tile1 tile2'
    'tile3 tile4';
}

.tiles {
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0 0 5px 3px black;
}

.tiles:active {
  opacity: 1;
}

.tile1 {
  background-color: var(--tile1Clr);
  grid-area: tile1;
  border-top-left-radius: 100%;
}

.tile2 {
  background-color: var(--tile2Clr);
  grid-area: tile2;
  border-top-right-radius: 100%;
}

.tile3 {
  background-color: var(--tile3Clr);
  grid-area: tile3;
  border-bottom-left-radius: 100%;
}

.tile4 {
  background-color: var(--tile4Clr);
  grid-area: tile4;
  border-bottom-right-radius: 100%;
}

.score_container {
  position: absolute;
  background: radial-gradient(
      at center center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgb(119, 119, 119) 80%
    ),
    var(--startBtnClr);
  color: var(--whiteClr);
  font-weight: 700;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 10px 0px;
  width: min(20vh, 20vw);
  height: min(20vh, 20vw);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: min(5vw, 5vh);
  cursor: pointer;
}
